@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: (
    "svg-color": (
        property: fill,
        class: svg-color,
        values: (
            auto: currentColor,
        )
    )
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";